// Frames for portfolio and skills

%none {
  text-decoration: none;
}

%no-padding {
  padding: 0;
}

%margin {
  margin: 0 auto;
}

%frame {
  background-color: $white-background;
  padding: 40px 0;
  @media #{$brk-wide} {
    width: 90%;
    margin: 0 auto;
  }
}

%w90 {
  width: 90%;
}

%max90 {
  max-width: 90%;
}

%max100 {
  max-width: 100%;
}